@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  padding-top: 20px;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 55px;
  max-width: 1200px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 25px;
  font-weight: 600;
  padding: 17px 23px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.expandBtn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  margin-left: 4px;
}

.expandBtn:hover {
  text-decoration: underline;
}


.heroImg {
  min-width: 200px;
  min-height: 200px;
  width: 19vw;
  height: 16vw;
  /* height: 100%;
  margin: 5px;
  max-width: 450px;
  max-height: 250px; */
  border: 3px solid rgb(70, 0, 116);
  border-radius: 100%;
  margin-top: 3%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  cursor: pointer;
  perspective: 1000px;
}

.flipContainer {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  position: relative;
}

.flipping {
  transition: transform 1s ease-in-out;
}

/* Képek egymás felett */
.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* A kép kitölti a területet */
  object-position: top; /* A kép tetejét mutatja inkább */
  position: absolute;
}




/* Mindkét kép alapból ott van, de csak az egyik látszik */
.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}


.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(48, 56, 151, 0.5);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(24, 41, 106, 0.6);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
/* Második kép kicsit feljebb legyen */
.heroImg:last-child {
  object-position: 50% 10%; /* Második kép még feljebb */
}

