:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #010003;
  --color-dark: #1c0b47;
  --color-bg: #14042d;

  /* Fonts */
  --font-roboto: "Roboto";
}
